<div class="container mt-5">
  <body>
    <div style="position: relative;">
      
      <h1 style = "text-align: center; font-weight: bold;">WickerBasket</h1>
      <h6 style = "text-align: center; font-weight: bold; font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">a basket for all your needs</h6>
    </div>
      <br></br>
      <div style="position: relative; right: -950px;">
          <a href="/addNewBasket" class="btn btn-success m-1" >Add a New Basket</a>
      </div>
  
    <br />
    <table class="table">
      <thread>
        <tr>
          <th>Basket Name</th>
          <th>Details</th>
          <th>Image</th>
          <th>Quantity Available</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thread>
      <tbody>
        <% basketList.forEach(function(basket){ %>
        <tr>
          <td><%= basket.basketName %></td>
          <td><%= basket.details %></td>
          <!-- <td><%= basket.imageUrl %></td> -->
          <td><img src= <%= basket.imageUrl %> height = 150 width = 170></td>
          <td><%= basket.quantityAvailable %></td>
          <td>$<%= basket.price %></td>
          <td>
            <% var deleteUrl = '/delete?basketId=' + basket.basketId %>
            <% var updateUrl = '/update?basketId=' + basket.basketId %>
            <a href=<%= updateUrl %> class="btn btn-success m-1">Update</a>
            <a href=<%= deleteUrl %> class="btn btn-danger m-1">Delete</a>        
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
  <br />
  
</div>